<h1 class="animated fadeIn fast">
    Acerca de...
</h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo quibusdam rem eveniet illum, aperiam at provident, soluta ipsa molestias ex illo, eius magni doloremque voluptatum voluptatem consequuntur excepturi quaerat adipisci.
</p>