<div class="jumbotron jumbotron-fluid animated fadeIn">
    <div class="container">
        <h1 class="display-3">Comic App</h1>
        <p class="lead">Esta es una página de comics!</p>
    </div>
</div>